@import "../../variables.scss";

.CtnPricipalDrinks {
  @include ctnSupCaruText;
}

.CtnCaru1 {
  @include cntCaru;
  // @include large{
  //   width: 500px;
  // }
  // @include medium {
  //   width: 400px;
  //
}

.CtnCaru1:hover {
  transform: scale(1.02);
}

.btn {
  @include btnFullImg;
}

.image1 {
  @include imgCaru;
  // @include large{
  //   width: 500px;
  // }
  // @include medium {
  //   width: 400px;
  // }
}

.ctnImg {
  @include ctnImages;
}

.ctnTextoCaru {
  width: 35%;
  margin-right: 60px;
}

.title {
  @include titleCaru;
}

.textoCaru1 {
  @include textCaru;
  @include medium {
    font-size: 12px;
  }
}
