@import "../variables.scss";

.CtnSup {
  position:sticky;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ctnBnts{
  margin-bottom: 60px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}


.btn{
  height: 20px;
  padding-bottom:5px ;
  background-color: transparent;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 600;  
}

.btn:hover{
  transform:scale(1.2) ;
  border-bottom: 1px solid black;
}

.btn:focus{
  transform:scale(1.2) ;
  border-bottom: 1px solid black;
}


