.navbar {
  background-color: black;
}

.text {
  list-style: none;
  justify-content: end;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  color: white;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
  margin-right: 20px;
  cursor: pointer;
  border-bottom: 4px solid transparent;
}

.nav-link:hover {
  transform: scale(1.1);
  font-weight: 500;
}

.nav-link:focus{
  transform:scale(1.1) ;
  font-weight: 500;
}
