/* .navbar {
  background-color: black;
} */

.color {
  animation-duration: 1s;
  animation-name: slidein3;
  background-color: rgb(0, 0, 0);
}

.trasp {
  background-color: rgba(0, 0, 0, 0);
}

@keyframes slidein3 {
  from {
    transform: translate(0px, 5px);
  }
}
.espace {
  margin: 5px 70px 5px 70px;
  padding: 0px;
}

.cntCon {
  margin: 20px 70px 20px 70px;
  padding: 0px;
}

.navCss {
  display: flex;
  justify-content: space-between;
}

.ctnNav1 {
  position: static;
  align-items: center;
}

.navLinkDH {
  font-size: 30px;
  margin-right: 30px;
  text-decoration: none;
  cursor: pointer;
  font-family: "Shadows Into Light", cursive;
  color: rgb(255, 255, 255) !important;
}

.navLink {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.836) !important;
  margin: 0px 15px 0px 15px;
  cursor: pointer;
  align-items: center;
}

@keyframes slidein {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }

  from {
    transform: translate(100px, 0px);
  }
}

.navLink:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255) !important;
}

.navLink:focus {
  transform: scale(1.1);
  color: rgb(255, 255, 255) !important;
}

.navLink1 {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.836) !important;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  align-items: center;
}

.icon {
  font-size: 18px;
}

.navLink1:hover {
  transform: scale(1.4);
  color: rgb(255, 255, 255) !important;
}

// .naviconLink:hover {
//   transform: scale(1.1);
//   font-weight: 500;
// }

// .icon:focus{
//   transform:scale(1.1) ;
//   font-weight: 500;
// }
