@import '../variables.scss';

.ctnFooter {
  height: 40vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.ctnFooter1 {
  height: 100px;
  text-align: center;
  width: 1000px;
  @include medium{
    width: 800px;
  }
  @include small2{
    width: 550px;
  }
  @include smallInte{
    width: 450px;
  }
  @include smallInteSmall{
    width: 320px;
  }
  
}

.navLin {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  letter-spacing: 4px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.836) !important;
  margin: 0px 50px 0px 50px;
  cursor: pointer;
  align-items: center;
  @include medium{
    margin: 0px 30px 0px 30px;
  }
  @include small2{
    margin: 0px 10px 0px 10px;
    letter-spacing: 2px;
  }
  @include smallInteSmall{
    margin: 0px 5px 0px 5px;
    letter-spacing: 0px;
  }

}

.navLin:hover {
  color: rgb(255, 255, 255) !important;
}

.navLinkDH {
  font-size: 40px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Shadows Into Light', cursive;
  //   font-family: "Dosis", sans-serif;
  color: rgb(255, 255, 255) !important;
}

.navFooter {
  border-bottom: 1px solid rgb(133, 133, 133);
  padding-bottom: 20px;
}

.ctnIcons {
  padding-top: 20px;
}

.ctnDh {
  color: rgb(133, 133, 133);
  @include smallInteSmall{
    width: 300px;
    text-align: center;
  }
}

.navLink1 {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  text-decoration: none;
  margin: 0px 30px 0px 30px;
  cursor: pointer;
  align-items: center;
  @include small2{
    margin: 0px 10px 0px 10px;
  }
  
}

.navLink1:hover {
  color: rgb(255, 255, 255) !important;
}

.icon {
 color: rgba(255, 255, 255, 0.719) !important;
    font-size: 20px;
}
